section(id="aboutme" class="intro wrapper style1 fullscreen fade-up")
	.inner
		.header-group
			h1.
				Randy Champagne<small>&nbsp;&nbsp;Web Development</small>
		p.
			I am a full stack web developer based in the United States. I operate in New York City, Philadelphia, and Chicago. I specialize in building eCommerce online stores, professional blog sites and user-centered web applications. I work with startups, small businesses, organizations and professionals looking to create an elegant yet powerful online presence. I use the latest UX methods and cutting edge web technologies to create mobile-first responsive web sites and applications. Click on the button below to view the services I offer.
		ul(class="actions")
			li
				a(href="#services" class="button scrolly") View my services
		