
section.wrapper.style1.fade-up(id="contactme")
	.inner
		h2.
			Get in touch
		p.
			Drop a line... Say hello... Request a proposal! I would love to hear about you and explore ways I can contribute to your project. You should also look me up on social media to checkout what mischief i am up to today ^_^
		div
			section
				ul.contact
					li
						h3.
							My Calendar
						i.fa.fa-calendar
							a(href="https://calendly.com/randychampagne" target="_blank") schedule a meeting
					
					li
						h3.
							Skype
						i.fa.fa-skype
							a(href="skype:rc.webdevelopment") rc.webdevelopment
					
					li
						h3.
							My Qualifications
						i.fa.fa-linkedin
							a(href="https://www.linkedin.com/in/randychampagne" target="_blank") curriculum vitae
					
					li
						h3.
							Code Samples
						i.fa.fa-github
							a(href="https://github.com/champagne-randy" target="_blank") github repositories
					
					li
						h3.
							Social Media Channels
						ul.icons
							li
								a.fa-twitter(href="https://twitter.com/RandyChampagne" target="_blank")
									span.label.
										Twitter
							li
								a.fa-facebook(href="https://www.facebook.com/rcwebdevelopment/" target="_blank")
									span.label.
										Facebook
							li
								a.fa-instagram(href="https://www.instagram.com/creolemusings/" target="_blank")
									span.label.
										Instagram
							li
								a.fa-tumblr(href="https://www.tumblr.com/blog/creolemusings" target="_blank")
									span.label.
										Tumblr

					

			