section(id="sidebar")
	.inner
		nav
			ul
				li
					a(href="#aboutme") About Me
				li
					a(href="#services") Development Services
				li
					a(href="#portfolio") My Portfolio
				li
					a(href="#contactme") Contact Me