section.wrapper.style2.spotlights#portfolio
	
	// Shopify
	section
		a#shopify.image(href="#portfolio")
		.content
			.inner
				h2.
					Pizzeria Eccezionale
				p.
					Pizzeria Eccezionale is a demo eCommerce store I built on the Shopify platform. It showcases several of advanced features that are sure to grow your business. These features include a mobile-first responsive design, social media integration that enables you to sell product directly on Facebook and Twitter, and a user-friendly dashboard to manage your product catalog.

				p.
					Platform:&nbsp;&nbsp;&nbsp;Shopify

				ul.actions
					li
						a.button(href="#portfolio").
							View Live Demo

	
	// WordPress
	section
		a#wordpress.image(href="https://github.com/champagne-randy/icenetworktv.github.io" target="_blank")
		.content
			.inner
				h2.
					Involved Community Network
				p.
					ICE Network is a startup in Atlantic City. We are launching a television network that produces wholesome, uplifting and educational programming. It is also a platform for social entrepreneurship and community activism in the greater South Jersey area.

				p.
					Platform:&nbsp;&nbsp;&nbsp;Wordpress

				ul.actions
					li
						a.button(href="http://icenetworktv.github.io/" target="_blank").
							View Live Demo
					li
						a.button(href="https://github.com/champagne-randy/icenetworktv.github.io" target="_blank")
							i.fa.fa-github.fa-lg
							span.label.
								View Source

	// MEAN
	section
		a#mean.image(href="https://github.com/champagne-randy/proposal-manager" target="_blank")
		.content
			.inner
				h2.
					Client Portal
				p.
					This is a web application I am building to help me manage different aspects of the project lifecycle. It will feature an admin page for building and distributing new proposals. It will also have a dashboard to help me monitor the approval status for a proposal. It will also have a feature for automatically prompting clients to review and approve a proposal.

				p.
					Tech Stack:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mongo&nbsp;&nbsp;Express&nbsp;&nbsp;Angular&nbsp;&nbsp;Node

				ul.actions
					li
						a.button(href="https://github.com/champagne-randy/proposal-manager" target="_blank")
							i.fa.fa-github.fa-lg
							span.label.
								View Source




