section(id="services" class="wrapper style3 fade-up")
	.inner
		//- section header
		h2 Web Development Services
		
		//- section description
		p.
			Take a moment to explore the services I offer. Please #[a(href="#contactme") get in touch with me] if you don't find a category that matches your needs specifically.
		
		//- list of services
		.features
			section
				span(class="icon major fa-code")
				h3 eCommerce Portal
				p.
					Let me help you deploy your online store. Wether you prefer Shopify, Squarespace, or Wordpress, let me take your business to the future.
			
			section
				span(class="icon major fa-lock")
				h3 Professional Blog
				p.
					Let me help you start writing that blog you've been thinking about for so long. You have great insights! The world yearns to learn from your professional experience.
			
			section
				span(class="icon major fa-cog")
				h3 Mobile-First Responsive Web Development
				p.
					Need to give your existing web site a facelift? Let me bring your site into 2016 using the latest technologies and modern user-centered UX methods.
			
			section
				span(class="icon major fa-desktop")
				h3 Theme Customization
				p.
					So you found a theme you like for your favorite CMS but it doesn't fit your needs perfectly? Let me get under the hood and bend it to your will.
			
			section
				span(class="icon major fa-chain")
				h3 Web Application Development
				p.
					Is your enterprise looking for contractor to help complete a web application? Look no further! I love working with a team that cares about creating beautiful, usable interfaces that are backed by a robust rest api.
			
			section
				span(class="icon major fa-diamond")
				h3 Search Engine Optimization &amp; Analytics
				p.
					Are you looking to raise your page rank on google and other search engines? Would you like more insight into user behavior on your site? Let me equip your team with the tools and techniques to boost your conversion rate.
			

		//- button
		ul(class="actions")
			li
				a(href="#portfolio" class="button scrolly") View my portfolio



