//-
	extends layout

	block home


//- metadata code block
include ./includes/head


//- header section
//- includes navBar
include ./includes/header


//- body section



//- footer section
include ./includes/footer


//- JS libraries and scripts
!= js()