//-
	extends layout

	block home


//- metadata code block
include ./includes/head


body
	// header section
	//- includes navBar
	include ./includes/header


	// main content
	.wrapper
		// aboutme
		include ./includes/aboutme

		//- aboutme
		include ./includes/aboutme


	// footer section
	include ./includes/footer


	// JS libraries and scripts
	!= js()