//- metadata code block
include ./includes/head


body
	// header section
	//- includes navBar
	include ./includes/header


	// main content
	#wrapper
		// aboutme
		include ./includes/aboutme

		// services
		include ./includes/services

		// portfolio
		include ./includes/portfolio

		// contactme
		include ./includes/contactme


	// footer section
	include ./includes/footer


	// JS libraries and scripts
	script(src='js/jquery.min.js')
	script(src='js/jquery.scrollex.min.js')
	script(src='js/jquery.scrolly.min.js')
	script(src='js/skel.min.js')
	script(src='js/util.js')
	script(src='js/main.js')