@import 'main.css'
	


/*
*
*	Services section
*
**/
.icon.minor
	width: 1.2em
	height: 1.2em
	display: inline-block
	background: #ffffff
	border-radius: 100%
	color: #312450
	text-align: center
	line-height: 1.1em
	


/*
*
*	Portfolio section
*
**/
// these 2 rules adds space between icon & label in buttons
.button span
	display: inline-block

.button i
	margin-right: .75em

// these 3 rules set the background for the portfolio entries
#shopify
	background-image: url("../img/pic01.jpg")
	background-position: 50% 50%
	
#wordpress
	background-image: url("../img/pic02.jpg")
	background-position: 50% 50%
	
#mean
	background-image: url("../img/pic03.jpg")
	background-position: 50% 50%
	


/*
*
*	ContactMe section
*
**/
// this rule add space bewteen icons and labels
i a
	display: inline-block
	margin-left: .75em


	
